---
import Layout from '../layouts/Layout.astro';
import OperadoresLogos from '../components/OperadoresLogos.astro';
import TablaDeComparacion from '../components/TablaDeComparacion.astro';
import SelectComponent from '../components/SelectComponent.astro';
import Economicos from '../components/Economicos.astro';
import { selectValor,seleccionOpciones } from '../stores/stores';

const {value : selectV , subscribe} = selectValor
let valor = selectV

subscribe(value => {
	valor = value
})


---

<Layout>
	<section>
		<h1 class="text-center font-bold text-3xl">Compara entre los operadores de Colombia y encuentra el plan que buscas!</h1>
		<OperadoresLogos />
	</section>
	<section class="flex gap-3 justify-center mt-10">
		<h3 class="text-2xl">¿Qué estás buscando?</h3>
		<SelectComponent/>

	</section>
		
	<section class="mt-10" id="infoFiltrada">
		<div id="economicosSeccion" class="hidden">
			<Economicos  />
		</div>
	</section>
	<section class="mt-10 flex flex-col justify-center">

		<TablaDeComparacion />
		
	</section>


</Layout>
<script>
	import {selectValor, seleccionOpciones} from '../stores/stores'
	const {value : selectV , subscribe} = selectValor

	const infoFiltrada = document.getElementById('infoFiltrada')
	const economicosSeccion = document.getElementById('economicosSeccion')

	infoFiltrada && subscribe(seleccion =>{
		if(seleccion === seleccionOpciones.Economicos){
			economicosSeccion?.setAttribute('class','block')
		}else if(seleccion === seleccionOpciones.Ilimitados){
			economicosSeccion?.setAttribute('class','hidden')
		}
	})

</script>

<style>
	li::before {
		content: "•";
		color: var(--bordes-color-1);
		font-weight: bold;
		display: inline-block;
		width: 1em;
		
	}
	
</style>