---
import { Image } from "astro:assets";
---

<div class="flex justify-center brightness-75 gap-5 mt-5">
    <Image 
        src="https://upload.wikimedia.org/wikipedia/commons/0/0c/Claro.svg" 
        alt={"Logo Claro"} 
        width={50}
        height={50}	
        priority
    />	
    <Image 
        class={"bg-cover"}
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Movistar_isotype_2020.svg/1280px-Movistar_isotype_2020.svg.png" 
        alt={"Logo Movistar"} 
        width={50}
        height={50}
        priority
    />
    <Image 
        src="https://upload.wikimedia.org/wikipedia/commons/6/69/Logo_Tigo.svg" 
        alt={"Logo Tigo"} 
        width={50}
        height={50}
        priority
    />
    <Image 
        src="https://upload.wikimedia.org/wikipedia/commons/f/f4/WOM_logo.png" 
        alt={"Logo WOM"} 
        width={50}
        height={50}
        priority
    />
</div>