<table class="border-collapse md:table-fixed mt-5">
    <caption class="caption-bottom font-extralight" >La Informaci칩n de la tabla est치 basada las p치ginas web de cada operador a fecha de marzo de 2025</caption>
    <thead>
        <tr>
            <th></th>
            <th class="font-light text-2xl">Claro</th>
            <th class="font-light text-2xl">Movistar</th>
            <th class="font-light text-2xl">Tigo</th>
            <th class="font-light text-2xl">WOM</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><strong>GB</strong></td>
            <td>60 GB</td>
            <td>50 GB</td>
            <td>60 GB</td>
            <td>60 GB</td>
        </tr>
        <tr>
            <td><strong>PRECIO</strong></td>
            <td>44.900$</td>
            <td>22.995$ x 2 meses. Luego 45.000$</td>
            <td>45.000$</td>
            <td>35.000$ x 4 meses. Luego 44.990$</td>
        </tr>
        <tr>
            <td><strong>APLICACIONES</strong></td>
            <td>WhatsApp, Facebook y Twitter</td>
            <td>Sin Informaci칩n</td>
            <td>Facebook y WhatsApp</td>
            <td>Facebook, WhatsApp, Nequi y Daviplata</td>
        </tr>
        <tr>
            <td><strong>MINUTOS</strong></td>
            <td>Ilimitados</td>
            <td>Ilimitados</td>
            <td>Ilimitados</td>
            <td>Ilimitados</td>
        </tr>
    </tbody>
</table>

<style>
    td{
		padding: 0.5rem;
		border: 1px solid;
		border-color: white;
	}
	th{
		padding: 0.5rem;

	}
</style>